In [1]:
import pandas as pd

In [2]:
# Create df of two csv files
df1 = pd.read_csv('./sample_csvs/kiel_sailing_city_de.csv')
df2 = pd.read_csv('./sample_csvs/Kiel_wasgeht.csv')

In [3]:
print(df1.shape)
df1.head()

(158, 5)

,Title,Location,Categories,Date,Time
0,Weihnachtsmarkt im CITTI-Park,CITTI-PARK,"['Gastronomie', 'Kinderprogramm', 'Konzert', '...",23.11.2024,09:00 - 20:00 Uhr
1,Kiel festhalten. Stadtansichten von Gretel Rie...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur']",23.11.2024,10:00 - 18:00 Uhr
2,Wohltemperiert. Für klimagerechte Architektur!,Freilichtmuseum Molfsee,"['Ausstellung', 'Kultur']",23.11.2024,10:00 - 17:00 Uhr
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur', 'Kultursommer']",23.11.2024,10:00 - 18:00 Uhr
4,Stadtwerke Eisfestival,Germaniahafen,"['Sport/Freizeit', 'Kinderprogramm', 'Kultur']",23.11.2024,10:00 - 20:00 Uhr

In [4]:
print(df2.shape)
df2.head()

(283, 6)

,Subject,Start_date,Start_time,End_time,Location,Description
0,brunch & brew,2024-11-23,15:00,NaN,"COBL, Kiel",konzert\n8€\nLocation Link: http://www.cobl.op...
1,Oud Konzert mit Nedal Aldaiekh,2024-11-23,18:00,NaN,"Café Jupiter, Kiel",konzert\nLocation Link: https://www.instagram....
2,JAM SESSION am Samstag - Genresessions,2024-11-23,18:00,NaN,"Siebeneck & Triangel, Kiel","konzert\ntags pop, stoner, psychedelic, rock, ..."
3,LIVE! - BIG DADDY WILSON & THE GOOSEBUMPS BROS.,2024-11-23,19:00,NaN,"Räucherei, Kiel","konzert\ntags folk, soul\nLocation Link: https..."
4,"Rampampam, Oistress, Herr Fugbaum",2024-11-23,19:00,NaN,"Alte Meierei, Kiel",konzert\ntags punk\nLocation Link: https://www...

In [5]:
# Renaming columns in df1 to align with df2
df1 = df1.rename(columns={
    'Title': 'Subject',
    'Date': 'Start_date',
    'Time': 'Start_time',
    'Categories': 'Description'
})

# Display the updated DataFrame structure
df1.head()

,Subject,Location,Description,Start_date,Start_time
0,Weihnachtsmarkt im CITTI-Park,CITTI-PARK,"['Gastronomie', 'Kinderprogramm', 'Konzert', '...",23.11.2024,09:00 - 20:00 Uhr
1,Kiel festhalten. Stadtansichten von Gretel Rie...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur']",23.11.2024,10:00 - 18:00 Uhr
2,Wohltemperiert. Für klimagerechte Architektur!,Freilichtmuseum Molfsee,"['Ausstellung', 'Kultur']",23.11.2024,10:00 - 17:00 Uhr
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur', 'Kultursommer']",23.11.2024,10:00 - 18:00 Uhr
4,Stadtwerke Eisfestival,Germaniahafen,"['Sport/Freizeit', 'Kinderprogramm', 'Kultur']",23.11.2024,10:00 - 20:00 Uhr

In [6]:
# Split Start_time into Start_time and End_time
df1[['Start_time', 'End_time']] = df1['Start_time'].str.extract(r'(\d{2}:\d{2})\s*-\s*(\d{2}:\d{2})')

# Display the updated DataFrame structure
df1.head()

,Subject,Location,Description,Start_date,Start_time,End_time
0,Weihnachtsmarkt im CITTI-Park,CITTI-PARK,"['Gastronomie', 'Kinderprogramm', 'Konzert', '...",23.11.2024,09:00,20:00
1,Kiel festhalten. Stadtansichten von Gretel Rie...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur']",23.11.2024,10:00,18:00
2,Wohltemperiert. Für klimagerechte Architektur!,Freilichtmuseum Molfsee,"['Ausstellung', 'Kultur']",23.11.2024,10:00,17:00
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur', 'Kultursommer']",23.11.2024,10:00,18:00
4,Stadtwerke Eisfestival,Germaniahafen,"['Sport/Freizeit', 'Kinderprogramm', 'Kultur']",23.11.2024,10:00,20:00

In [7]:
# Standardize Start_date to ISO 8601 format
df1['Start_date'] = pd.to_datetime(df1['Start_date'], format='%d.%m.%Y').dt.strftime('%Y-%m-%d')

# Display the updated DataFrame structure
df1.head()

,Subject,Location,Description,Start_date,Start_time,End_time
0,Weihnachtsmarkt im CITTI-Park,CITTI-PARK,"['Gastronomie', 'Kinderprogramm', 'Konzert', '...",2024-11-23,09:00,20:00
1,Kiel festhalten. Stadtansichten von Gretel Rie...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur']",2024-11-23,10:00,18:00
2,Wohltemperiert. Für klimagerechte Architektur!,Freilichtmuseum Molfsee,"['Ausstellung', 'Kultur']",2024-11-23,10:00,17:00
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur', 'Kultursommer']",2024-11-23,10:00,18:00
4,Stadtwerke Eisfestival,Germaniahafen,"['Sport/Freizeit', 'Kinderprogramm', 'Kultur']",2024-11-23,10:00,20:00

In [8]:
# Convert Description (Categories) from list to comma-separated string
df1['Description'] = df1['Description'].apply(lambda x: ', '.join(x) if isinstance(x, list) else str(x))

# Display the updated DataFrame structure
df1.head()

,Subject,Location,Description,Start_date,Start_time,End_time
0,Weihnachtsmarkt im CITTI-Park,CITTI-PARK,"['Gastronomie', 'Kinderprogramm', 'Konzert', '...",2024-11-23,09:00,20:00
1,Kiel festhalten. Stadtansichten von Gretel Rie...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur']",2024-11-23,10:00,18:00
2,Wohltemperiert. Für klimagerechte Architektur!,Freilichtmuseum Molfsee,"['Ausstellung', 'Kultur']",2024-11-23,10:00,17:00
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur', 'Kultursommer']",2024-11-23,10:00,18:00
4,Stadtwerke Eisfestival,Germaniahafen,"['Sport/Freizeit', 'Kinderprogramm', 'Kultur']",2024-11-23,10:00,20:00

In [9]:
# Ensure all required columns are in df1
required_columns = ['Subject', 'Start_date', 'Start_time', 'End_time', 'Location', 'Description']

# Add any missing columns with default values (NaN for now)
for col in required_columns:
    if col not in df1.columns:
        df1[col] = pd.NA

# Ensure column order matches df2
df1 = df1[required_columns]

# Display the updated DataFrame structure
df1.head()

,Subject,Start_date,Start_time,End_time,Location,Description
0,Weihnachtsmarkt im CITTI-Park,2024-11-23,09:00,20:00,CITTI-PARK,"['Gastronomie', 'Kinderprogramm', 'Konzert', '..."
1,Kiel festhalten. Stadtansichten von Gretel Rie...,2024-11-23,10:00,18:00,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur']"
2,Wohltemperiert. Für klimagerechte Architektur!,2024-11-23,10:00,17:00,Freilichtmuseum Molfsee,"['Ausstellung', 'Kultur']"
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,2024-11-23,10:00,18:00,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur', 'Kultursommer']"
4,Stadtwerke Eisfestival,2024-11-23,10:00,20:00,Germaniahafen,"['Sport/Freizeit', 'Kinderprogramm', 'Kultur']"

In [10]:
# Concatenate df1 and df2
combined_df = pd.concat([df1, df2], ignore_index=True)

# Display the structure of the combined DataFrame
combined_df.head()

,Subject,Start_date,Start_time,End_time,Location,Description
0,Weihnachtsmarkt im CITTI-Park,2024-11-23,09:00,20:00,CITTI-PARK,"['Gastronomie', 'Kinderprogramm', 'Konzert', '..."
1,Kiel festhalten. Stadtansichten von Gretel Rie...,2024-11-23,10:00,18:00,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur']"
2,Wohltemperiert. Für klimagerechte Architektur!,2024-11-23,10:00,17:00,Freilichtmuseum Molfsee,"['Ausstellung', 'Kultur']"
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,2024-11-23,10:00,18:00,Stadtmuseum Warleberger Hof,"['Ausstellung', 'Kultur', 'Kultursommer']"
4,Stadtwerke Eisfestival,2024-11-23,10:00,20:00,Germaniahafen,"['Sport/Freizeit', 'Kinderprogramm', 'Kultur']"

In [11]:
combined_df.to_csv('./sample_csvs/combined.csv', index=False)

### Dataset Overview

#### **General Information**
- **Rows**: 441
- **Columns**: 6
  - `Subject` (event name): Non-null, object type.
  - `Start_date`: Non-null, object type (dates are strings in ISO format).
  - `Start_time`: 417 non-null, object type (missing values likely for all-day events or incomplete entries).
  - `End_time`: 156 non-null, object type (often missing, possibly due to single-time events or incomplete data).
  - `Location`: Non-null, object type (venue names; potentially inconsistent in format).
  - `Description`: Non-null, object type (varied content, including lists from original data and strings).

---

#### **Key Characteristics Relevant to Deduplication**
1. **Duplicates**:
   - Likely occur due to events happening daily over a period (e.g., recurring events).
   - Identifiable by shared `Subject` and `Location`, with overlapping or consecutive `Start_date` values.

2. **Time Columns**:
   - `Start_time` is mostly present, but `End_time` is often missing.
   - Events without `End_time` might still overlap with others based on `Start_date` and `Location`.

3. **Locations**:
   - Varied formats and naming conventions (e.g., "CITTI-PARK" vs. "CITTI Park Kiel").
   - Requires normalization for robust duplicate detection.

4. **Descriptions**:
   - Contains a mix of structured and unstructured content:
     - Lists (e.g., categories like `['Ausstellung', 'Kultur']`).
     - Plain text with potential tags (e.g., "concert").
   - Standardizing or extracting structured information may aid deduplication.

In [12]:
import re

def normalize_text(text, is_location=True, remove_suffix=None):
    """
    Normalize text strings for either locations or subjects.
    
    Args:
        text (str): The original string.
        is_location (bool): Whether the text is a location (default True).
        remove_suffix (str): A specific suffix to remove (e.g., ', kiel').
    
    Returns:
        str: The normalized string.
    """
    # Lowercase the string
    text = text.lower()
    # Replace punctuation with spaces, except "&"
    text = re.sub(r"[^\w\s&]", " ", text)
    # Replace multiple spaces with a single space
    text = re.sub(r"\s+", " ", text).strip()
    
    # Remove specific suffix if requested
    if remove_suffix and text.endswith(remove_suffix):
        text = text[: -len(remove_suffix)].strip()
    
    return text

In [13]:
def extract_tokens(text):
    """
    Extract significant tokens (key words) for deduplication purposes.
    
    Args:
        text (str): The normalized string.
    
    Returns:
        str: Tokenized string with key words.
    """
    # Split into tokens
    tokens = text.split()
    # Retain only unique words (ignoring order) for deduplication purposes
    return " ".join(sorted(set(tokens)))

In [14]:
# Example usage for Subjects
combined_df['Subject_normalized'] = combined_df['Subject'].apply(
    lambda sub: normalize_text(sub, is_location=False)
)
combined_df['Subject_tokens'] = combined_df['Subject_normalized'].apply(extract_tokens)

# Example usage for Locations
combined_df['Location_normalized'] = combined_df['Location'].apply(
    lambda loc: normalize_text(loc, is_location=True, remove_suffix=", kiel")
)
combined_df['Location_tokens'] = combined_df['Location_normalized'].apply(extract_tokens)

# Display results
combined_df[['Subject', 'Subject_normalized', 'Subject_tokens', 'Location', 'Location_normalized', 'Location_tokens']].head()

,Subject,Subject_normalized,Subject_tokens,Location,Location_normalized,Location_tokens
0,Weihnachtsmarkt im CITTI-Park,weihnachtsmarkt im citti park,citti im park weihnachtsmarkt,CITTI-PARK,citti park,citti park
1,Kiel festhalten. Stadtansichten von Gretel Rie...,kiel festhalten stadtansichten von gretel riemann,festhalten gretel kiel riemann stadtansichten von,Stadtmuseum Warleberger Hof,stadtmuseum warleberger hof,hof stadtmuseum warleberger
2,Wohltemperiert. Für klimagerechte Architektur!,wohltemperiert für klimagerechte architektur,architektur für klimagerechte wohltemperiert,Freilichtmuseum Molfsee,freilichtmuseum molfsee,freilichtmuseum molfsee
3,Der Gewölbekeller. Kostbarkeiten aus dem Alten...,der gewölbekeller kostbarkeiten aus dem alten ...,alten aus dem der gewölbekeller kiel kostbarke...,Stadtmuseum Warleberger Hof,stadtmuseum warleberger hof,hof stadtmuseum warleberger
4,Stadtwerke Eisfestival,stadtwerke eisfestival,eisfestival stadtwerke,Germaniahafen,germaniahafen,germaniahafen

In [52]:
# from sklearn.metrics import jaccard_score
# from sklearn.feature_extraction.text import CountVectorizer
# import numpy as np

# # Compute Jaccard similarity
# def jaccard_similarity(set1, set2):
#     intersection = len(set1 & set2)
#     union = len(set1 | set2)
#     return intersection / union

# # Group similar locations into clusters
# def build_location_dict(locations, threshold=0.8):
#     location_dict = {}
#     processed = set()

#     for loc1 in locations:
#         if loc1 in processed:
#             continue
#         token_set1 = set(loc1.split())
#         canonical_name = loc1
#         location_dict[canonical_name] = canonical_name

#         for loc2 in locations:
#             if loc1 == loc2 or loc2 in processed:
#                 continue
#             token_set2 = set(loc2.split())
#             similarity = jaccard_similarity(token_set1, token_set2)

#             if similarity >= threshold:
#                 location_dict[loc2] = canonical_name
#                 processed.add(loc2)
#         processed.add(loc1)
#     return location_dict

In [53]:
# # Unique tokenized locations
# unique_locations = combined_df['Location_tokens'].unique()

# # Build the dictionary
# location_dict = build_location_dict(unique_locations)

# # Map locations in the dataset to their canonical forms
# combined_df['Location_canonical'] = combined_df['Location_tokens'].map(location_dict)

# # Display sample mappings
# print(location_dict)

In [16]:
from Levenshtein import distance as levenshtein_distance

def tokens_match(token1, token2, max_distance=1):
    """
    Compare two tokens using Levenshtein distance.
    
    Args:
        token1 (str): First token.
        token2 (str): Second token.
        max_distance (int): Maximum allowed edit distance for a match.
    
    Returns:
        bool: True if tokens match, False otherwise.
    """
    return levenshtein_distance(token1, token2) <= max_distance

In [17]:
def jaccard_similarity(set1, set2):
    """
    Compute Jaccard similarity between two sets.
    
    Args:                               
        set1 (set): First set of tokens.
        set2 (set): Second set of tokens.
    
    Returns:                                                        
        float: Jaccard similarity score.
    """
    intersection = len(set1 & set2)
    union = len(set1 | set2)
    return intersection / union if union > 0 else 0

In [18]:
def compare_events(tokens_a, tokens_b, token_threshold=1, jaccard_threshold=0.8):
    """
    Compare two sets of tokens for event similarity.
    
    Args:
        tokens_a (str): Tokenized string for event A.
        tokens_b (str): Tokenized string for event B.
        token_threshold (int): Maximum allowed Levenshtein distance for token matching.
        jaccard_threshold (float): Minimum Jaccard similarity for a match.
    
    Returns:
        bool: True if events are similar, False otherwise.
    """
    # Split into individual tokens
    set_a = set(tokens_a.split())
    set_b = set(tokens_b.split())
    
    # Find token matches based on Levenshtein distance
    matched_tokens = set()
    for token_a in set_a:
        for token_b in set_b:
            if tokens_match(token_a, token_b, max_distance=token_threshold):
                matched_tokens.add(token_a)
                matched_tokens.add(token_b)
    
    # Compute Jaccard similarity on matched tokens
    jaccard_score = jaccard_similarity(set_a, set_b)
    
    # Return True if Jaccard similarity exceeds the threshold
    return jaccard_score >= jaccard_threshold

In [19]:
from itertools import combinations

# Function to deduplicate the entire DataFrame
def deduplicate_events(df, token_threshold=1, jaccard_threshold=0.8):
    """
    Deduplicate events based on Subject and Location tokens.

    Args:
        df (pd.DataFrame): The DataFrame containing event data.
        token_threshold (int): Max Levenshtein distance for token matching.
        jaccard_threshold (float): Min Jaccard similarity for a match.

    Returns:
        pd.DataFrame: Original DataFrame with an added 'Duplicate_Group' column.
    """
    # Initialize a column for duplicate group IDs
    df['Duplicate_Group'] = -1  # Default: no group

    # Get all pairs of event indices for comparison
    event_pairs = combinations(df.index, 2)

    # Dictionary to track duplicate group assignments
    group_dict = {}
    group_id = 0

    for idx1, idx2 in event_pairs:
        # Extract tokens for the pair of events
        subject1, subject2 = df.loc[idx1, 'Subject_tokens'], df.loc[idx2, 'Subject_tokens']
        location1, location2 = df.loc[idx1, 'Location_tokens'], df.loc[idx2, 'Location_tokens']

        # Compare subject and location tokens
        subject_similar = compare_events(subject1, subject2, token_threshold, jaccard_threshold)
        location_similar = compare_events(location1, location2, token_threshold, jaccard_threshold)

        # If both subject and location are similar, group them
        if subject_similar and location_similar:
            # Check if either event is already in a group
            if idx1 in group_dict:
                group_dict[idx2] = group_dict[idx1]
            elif idx2 in group_dict:
                group_dict[idx1] = group_dict[idx2]
            else:
                # Assign a new group ID
                group_dict[idx1] = group_id
                group_dict[idx2] = group_id
                group_id += 1

    # Assign group IDs back to the DataFrame
    for idx, group in group_dict.items():
        df.at[idx, 'Duplicate_Group'] = group

    return df

# Apply deduplication to the full DataFrame
deduplicated_df = deduplicate_events(combined_df)

# Display results with duplicate groups
deduplicated_df[['Subject', 'Location', 'Duplicate_Group']].sort_values('Duplicate_Group')

,Subject,Location,Duplicate_Group
29,Lesung „Erschütterungen“ von Bundepräsident a....,Stephanuskirche,-1
35,„Ton Steine Scherben“,Bethlehem-Kirche,-1
33,Beobachtungsabende auf der Sternwarte der Fach...,Mediendom,-1
34,Sensemann und Söhne,Bürgerhaus Kronshagen,-1
27,Oud Konzert mit Nedal Aldaiekh,Café Jupiter,-1
...,...,...,...
414,Skate Fever - Schaulaufen der REG Kiel e.V.,"Stralsundhalle, Kiel",75
420,Weihnachtsmarkt im Museum,"Heimatmuseum, Preetz, Kiel",76
383,Weihnachtsmarkt im Museum,"Heimatmuseum, Preetz, Kiel",76
429,KUNSTMESSE KIEL,"Ostseekai (Cruise Terminal), Kiel",77
387,KUNSTMESSE KIEL,"Ostseekai (Cruise Terminal), Kiel",77

In [60]:
# Display results with duplicate groups
deduplicated_df[['Subject', 'Location', 'Duplicate_Group']].Duplicate_Group.value_counts()

Duplicate_Group
-1     189
 56     10
 55     10
 53     10
 0       7
      ...
 71      2
 73      2
 74      2
 76      2
 77      2
Name: count, Length: 79, dtype: int64